html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/static/OpenSans/OpenSans-Medium.ttf");
}

// Variables
:root {
  --accent-white: #ffffff;
  --accent-grey: #252525;
  --accent-green: #19bb07;
}

body {
  background-color: var(--accent-grey);
  color: var(--accent-white);
}

main {
  font-family: OpenSans;
}

h1 {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: var(--accent-white);
}

.primary-header {
  height: 3em;
}

.primary-nav {
  background-color: var(--accent-green);
  position: sticky;
  top: 0;

  & > ol {
    display: grid;
    grid-auto-flow: column;

    & > li {
      border-inline: 1px solid var(--accent-grey);
      height: 2.5em;
      display: flex;

      &:first-of-type {
        border-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }

      & > a {
        margin: auto;
      }
    }
  }
}

.intro {
  padding-top: 1.5em;
  border-left: 3em ridge var(--accent-green);

  & > h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  & > p {
    padding-inline: 0.5em;
    padding-block: 1em;
    border-bottom: 0.5em outset var(--accent-green);
    padding-bottom: 1.5em;
  }
}

.cv {
  display: grid;

  --cv-row-height: 2.6em;

  :nth-child(2) {
    label {
      border-top: 0;
      // border-radius: 1em 0 0 0;
    }
  }

  :nth-child(3) {
    p {
      margin-top: calc(var(--cv-row-height) * -1);
    }
  }

  :nth-child(4) {
    p {
      margin-top: calc(var(--cv-row-height) * -2);
    }
  }

  legend {
    font-size: 1.8em;
    text-transform: uppercase;
    padding-block: 0.2em;
    text-align: center;
    background-color: var(--accent-green);
    width: 100%;
  }

  &_elements {
    display: grid;
    grid-template-columns: 1fr 7em;
    grid-template-rows: var(--cv-row-height);
    padding-left: 0.5em;

    & > input,
    label {
      grid-row: 1;
      grid-column: 2;
      margin-left: auto;
      background: var(--accent-green);
      text-align: center;
      min-width: 6em;
      padding-top: 0.8em;
    }

    & > label {
      border-block: 1px solid var(--accent-grey);
    }

    & > input {
      opacity: 0%;
      cursor: pointer;

      &:checked ~ p {
        // outline: 5px solid green;
        display: inline-block;
      }
    }

    & > p {
      grid-row: 1;
      display: none;
      transition: all 0.3s ease 0s;
    }
  }
}
