@font-face {
  font-family: PressStart2P;
  src: url("../fonts/PressStart2P/PressStart2P-Regular.ttf");
}

// Global Variables
:root {
  // Colors
  --accent-white: #ffffff;
  --accent-blue: #3f68af;

  --accent-green: #19bb07;
  --accent-green-dark: #107c04;

  --text-yellow: rgb(255, 238, 0);

  // Sizes
  --footer-height: 7em;

  --header-height: 10.5em;
  --wes-height: 5em;

  --header-floor: calc(var(--header-height) - var(--wes-height));
}

html {
  background: linear-gradient(
    to top,
    rgb(115, 162, 233),
    rgb(91, 140, 213),
    rgb(31, 67, 121),
    rgb(45, 78, 120),
    rgb(91, 140, 213),
    rgb(115, 162, 233)
  );

  font-family: OpenSans;
}

body {
  color: var(--accent-white);
}

a {
  text-decoration: none;
  color: var(--accent-white);
}

.header {
  display: grid;
  grid-template-columns: 3em 1fr 8em;
  grid-template-rows: 4em 2.5em 4em;
  position: relative;

  &_jump-block {
    position: absolute;
    animation-duration: 10s;
    margin-top: 0.5em;
    width: 2.5em;

    &-first {
      right: 10em;
      animation-name: box-first;
    }
    &-second {
      right: 13.5em;
      animation-name: box-second;
    }
  }

  &_entry-pipe {
    z-index: 1;
    grid-row: 1;
    grid-column: 3;
    height: 2em;
    width: 80%;
    background-color: red;

    background: linear-gradient(
      to right,
      rgb(54, 109, 49),
      rgb(140, 213, 130) 15% 25%,
      rgb(9, 50, 5)
    );
    border-radius: 0 0 0 0.2em;
    box-shadow: inset 0 -0.1em 0.3em rgb(9, 50, 5);
  }

  & .super-wes {
    animation-name: super-wes;
    top: -3em;
    animation-duration: 10s;
    grid-row: 1;
    grid-column: 3;
    width: 4em;
    height: 5em;
    transform: scalex(-1);
    position: absolute;
    right: 3em;

    &_still,
    &_jump {
      animation-duration: 10s;
      width: 4em;
      height: 5em;
      position: absolute;
    }

    &_still {
      animation-name: still;
    }

    &_jump {
      animation-name: jump;
      opacity: 0;
    }
  }

  &_pipe_end_wrapper {
    width: 3.4em;
    grid-row: 2;
    z-index: 1;
  }

  &_pipe_end {
    z-index: 1;
    height: 100%;
    background: linear-gradient(
      to right,
      rgb(54, 109, 49),
      rgb(140, 213, 130) 15% 25%,
      rgb(9, 50, 5)
    );
    border-radius: 0 0.2em 0.2em 0;
    box-shadow: inset 0 -0.1em 0.3em rgb(9, 50, 5);

    position: relative;

    &_connect {
      z-index: 1;
      height: 0.1em;
      position: absolute;
      top: 2%;
      width: 100%;
      background: linear-gradient(
        90deg,
        transparent 5%,
        rgba(255, 255, 255, 0.563) 10% 12%,
        transparent 40%
      );
    }
  }

  &_pipe {
    z-index: 1;
    // grid-column: 1;
    grid-row: 3;
    width: 3em;
    height: 100%;

    background: linear-gradient(
      to right,
      rgb(54, 109, 49),
      rgb(140, 213, 130) 25% 40%,
      rgb(9, 50, 5)
    );

    box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;

    border-bottom: 0.2em solid rgba(53, 116, 47, 0.2);
  }

  & > h1 {
    grid-column: 2/4;
    grid-row: 3;
    margin: auto;
    text-shadow: 1px 2px 2px #000;
    text-align: center;
    font-weight: bold;
    font-family: pressstart2p;
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--text-yellow);
  }
}

.primary-nav {
  position: sticky;
  top: 0;
  z-index: 10;

  width: 100%;
  min-height: 3em;

  background: linear-gradient(
    to top,
    rgb(31, 70, 28),
    rgb(140, 213, 130) 25% 40%,
    rgb(9, 50, 5)
  );

  & > ol {
    display: grid;
    grid-auto-flow: column;

    & > li {
      // border-inline: 2px solid var(--accent-green-dark);
      height: 3.5em;
      display: flex;

      & > a {
        margin: auto;
        letter-spacing: 0em;
        font-size: 0.75em;
        text-shadow: 1px 1px 1px rgb(44, 46, 6);
        font-family: PressStart2P;
        text-transform: uppercase;
        color: var(--text-yellow);
      }

      &::after {
        content: "";
        width: 0.5em;
        margin: -0.2em 0;

        border-inline: 0.4em ridge rgba(72, 146, 65, 0.2);

        background: linear-gradient(
          to top,
          rgb(54, 109, 49),
          rgb(140, 213, 130) 20% 35%,
          rgb(5, 28, 3)
        );
      }

      &:first-of-type {
        border-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  #nav {
    &-intro {
      animation-name: nav-intro;
      animation-duration: 10s;
    }
    &-skillz {
      animation-name: nav-skillz;
      animation-duration: 10s;
    }
    &-cv {
      animation-name: nav-cv;
      animation-duration: 10s;
    }
    &-contact {
      animation-name: nav-contact;
      animation-duration: 10s;
    }
  }
}

.intro {
  &_wrapper {
    display: grid;
    grid-template-columns: 3em 1fr 4.5em;
  }

  &_pipe-left {
    grid-column: 1;
    grid-row: 1/3;
    width: 3em;

    background: linear-gradient(
      to right,
      rgb(54, 109, 49),
      rgb(140, 213, 130) 25% 40%,
      rgb(9, 50, 5)
    );

    box-shadow: 0em 1.7em 2.5em -1em rgb(3, 52, 10) inset;

    border-bottom: 0.2em solid rgba(53, 116, 47, 0.2);
  }

  &_pipe-exit {
    grid-column: 3;
    grid-row: 2;
    height: 2em;

    background-color: red;

    background: linear-gradient(
      to right,
      rgb(54, 109, 49),
      rgb(140, 213, 130) 35% 45%,
      rgb(9, 50, 5)
    );
    border-radius: 0.2em 0 0 0;
    box-shadow: inset 0 -0.1em 0.3em rgb(9, 50, 5);

    position: relative;

    & > div {
      z-index: 1;
      height: 0.1em;
      position: absolute;
      top: 2%;
      width: 100%;
      background: linear-gradient(
        90deg,
        transparent 5%,
        rgba(255, 255, 255, 0.563) 10% 12%,
        transparent 40%
      );
    }
  }

  &_text {
    grid-column: 2;
    grid-row: 1/3;
    padding-inline: 1em;
    padding-block: 1.2em;
  }
}

.cv {
  display: grid;
  grid-template-rows: 1fr auto;

  --cv-icon-divider-height: 1.2em;
  --cv-input-height: 6em;

  --cv-input-plus-divider-height: 7.2em;

  :nth-child(4) {
    p {
      margin-top: calc(var(--cv-input-plus-divider-height) * -1);
    }
  }

  :nth-child(5) {
    p {
      margin-top: calc(var(--cv-input-plus-divider-height) * -2);
    }
  }

  // legend {
  //   font-size: 1.8em;
  //   text-transform: uppercase;
  //   padding-block: 0.2em;
  //   text-align: center;
  //   background-color: var(--accent-green);
  //   width: 100%;
  //   grid-row: 1;
  // }

  .cv_pipe {
    display: grid;
    grid-template-columns: 3.8em 2em auto;

    &_hz_connect-left {
      background: linear-gradient(
        to top,
        rgb(54, 109, 49),
        rgb(140, 213, 130) 25% 40%,
        rgb(20, 80, 15)
      );
      // box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
    }

    &_hz_divider {
      // border-inline: 0.1em solid green;
      margin: -0.2em 0;

      border-inline: 0.4em ridge rgba(72, 146, 65, 0.2);

      background: linear-gradient(
        to top,
        rgb(54, 109, 49),
        rgb(140, 213, 130) 20% 35%,
        rgb(13, 60, 8)
      );
      // box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
    }

    &_hz {
      padding-block: 0.2em;
      text-align: center;
      width: 100%;
      grid-row: 1;
      grid-column: 3;
      min-height: 2.5em;

      background: linear-gradient(
        to top,
        rgb(54, 109, 49),
        rgb(140, 213, 130) 25% 40%,
        rgb(20, 80, 15)
      );

      // box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
    }

    & > h2 {
      grid-row: 1;
      grid-column: 3;
      font-size: 1.2em;
      margin-block: auto;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000;
      color: rgb(255, 238, 0);
      font-family: PressStart2P;
    }
  }

  &_elements {
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: var(--cv-icon-divider-height) var(--cv-input-height);
    padding-left: 0.5em;

    &_divider {
      width: 3.7em;
      grid-column: 2;
      grid-row: 1;
      margin-left: auto;
      background: linear-gradient(
        to right,
        rgb(65, 124, 60),
        rgb(140, 213, 130) 25% 40%,
        rgb(9, 50, 5)
      );
      box-shadow: 0em 1em 1em -1em rgb(5, 62, 14) inset;
      border-radius: 0.15em 0 0 0.15em;
    }

    & > input,
    > label {
      grid-row: 2;
      grid-column: 2;
      margin-left: auto;
      // background: var(--accent-green);
      // width: 3.5em;
      width: 3.5em;
      height: --cv-input-height;
      // height: 100%;
      cursor: pointer;
    }

    & > label {
      background: linear-gradient(
        to right,
        rgb(65, 124, 60),
        rgb(140, 213, 130) 25% 40%,
        rgb(9, 50, 5)
      );

      // box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
      box-shadow: 0em 1em 1em -1em rgb(5, 62, 14) inset;

      display: flex;
      flex-direction: column;
      & > img {
        width: 2em;
        margin: auto;
        filter: invert(100%);
      }
    }

    & > input {
      opacity: 0%;
      // z-index: 1;

      &:checked ~ p {
        height: 100%;
        display: inline-block;
      }
    }

    & > p {
      grid-row: 1;
      grid-column: 1;
      display: none;
      padding-top: 0.8em;
    }
  }

  &_elements_divider_last {
    width: 3.7em;
    height: var(--cv-icon-divider-height);
    background-color: red;
    margin-left: auto;

    background: linear-gradient(
      to right,
      rgb(65, 124, 60),
      rgb(140, 213, 130) 25% 40%,
      rgb(9, 50, 5)
    );
    box-shadow: 0em 1em 1em -1em rgb(5, 62, 14) inset;
    border-radius: 0.15em 0 0 0.15em;
  }
}

footer {
  & .footer-spacer {
    grid-row: 1;
    height: var(--footer-height);
    width: 100%;
    background-color: sandybrown;
    // margin-block: 2.5em;
  }

  & .footer_container {
    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-rows: 1em 1fr;
    grid-template-columns: 1fr;

    width: 100%;
    height: var(--footer-height);

    & > .footer-border-1 {
      grid-row: 1;
      grid-column: 1;
      box-shadow: 0 -0.2em 0.3em rgb(26, 115, 18);
      background-color: greenyellow;
      background: linear-gradient(to top, #adff2f, rgb(20, 86, 13));
    }

    & > .footer-border-2 {
      grid-row: 1;
      grid-column: 1;
      height: 30%;
      margin-top: auto;
      background: linear-gradient(225deg, #437831 25%, transparent 25%) -3px 0,
        linear-gradient(135deg, #437831 25%, transparent 25%) -3px 0,
        linear-gradient(315deg, #437831 25%, transparent 25%),
        linear-gradient(45deg, #437831 25%, transparent 25%);

      background-size: 6px 6px;
      // background-color: #437831;
      // background-color: greenyellow;
    }

    & > .test2 {
      grid-row: 2;
      background: linear-gradient(135deg, #92661480 50%, transparent 0),
        linear-gradient(-135deg, #92661480 50%, transparent 0);
      background-size: 1em 1em;
      background-color: #f4a460;
    }
  }
}

.scr-only {
  display: none;
}
