html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("./fonts/static/OpenSans/OpenSans-Medium.ttf");
}
:root {
  --accent-white: #ffffff;
  --accent-grey: #252525;
  --accent-green: #19bb07;
  --accent-green-dark: #107c04;
}

body {
  background-color: var(--accent-grey);
  color: var(--accent-white);
}

main {
  font-family: OpenSans;
}

h1 {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: var(--accent-white);
}

.primary-header {
  height: 3em;
}
.primary-header > h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-block: 0.5em;
}

.primary-nav {
  background-color: var(--accent-green);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-column: 2;
}
.primary-nav > ol {
  display: grid;
  grid-auto-flow: column;
}
.primary-nav > ol > li {
  border-inline: 2px solid var(--accent-green-dark);
  height: 2.5em;
  display: flex;
}
.primary-nav > ol > li:first-of-type {
  border-left: 0;
}
.primary-nav > ol > li:last-of-type {
  border-right: 0;
}
.primary-nav > ol > li > a {
  margin: auto;
}

.style-wrapper_intro {
  display: grid;
  grid-template-columns: 3em 1fr;
}

.intro_pipe {
  grid-column: 1;
  grid-row: 1/3;
  width: 3em;
  background: radial-gradient(circle at center top, transparent -25%, rgba(0, 65, 3, 0.752) -5%, transparent 25% 80px), linear-gradient(to right, rgb(54, 109, 49), rgb(140, 213, 130) 25% 40%, rgb(9, 50, 5));
  box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
}

.intro {
  grid-column: 2;
}
.intro > p {
  padding-inline: 0.5em;
  background-color: var(--accent-grey);
  padding-block: 0.1em;
  border-bottom: 0.5em outset var(--accent-green);
  padding-bottom: 1.5em;
}

.cv {
  display: grid;
  padding-bottom: 0.4em;
  --cv-row-height: 4em;
}
.cv :nth-child(2) label {
  border-top: 0;
}
.cv :nth-child(3) p {
  margin-top: calc(var(--cv-row-height) * -1);
}
.cv :nth-child(4) p {
  margin-top: calc(var(--cv-row-height) * -2);
}
.cv legend {
  font-size: 1.8em;
  text-transform: uppercase;
  padding-block: 0.2em;
  text-align: center;
  background-color: var(--accent-green);
  width: 100%;
}
.cv_elements {
  display: grid;
  grid-template-columns: 1fr 7em;
  grid-template-rows: var(--cv-row-height);
  padding-left: 0.5em;
}
.cv_elements > input,
.cv_elements label {
  grid-row: 1;
  grid-column: 2;
  margin-left: auto;
  background: var(--accent-green);
  text-align: center;
  min-width: 3.5em;
}
.cv_elements > label {
  border-block: 2px solid var(--accent-green-dark);
}
.cv_elements > label > img {
  width: 2em;
  aspect-ratio: 1/2;
  filter: invert(100%);
  cursor: pointer;
}
.cv_elements > input {
  opacity: 0%;
}
.cv_elements > input:checked ~ p {
  display: inline-block;
}
.cv_elements > p {
  display: none;
  margin-top: 0.8em;
}

.scr-only {
  display: none;
}/*# sourceMappingURL=index.css.map */