html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: PressStart2P;
  src: url("../fonts/PressStart2P/PressStart2P-Regular.ttf");
}
:root {
  --accent-white: #ffffff;
  --accent-blue: #3f68af;
  --accent-green: #19bb07;
  --accent-green-dark: #107c04;
}

body {
  background-color: var(--accent-blue);
  color: var(--accent-white);
}

main {
  font-family: OpenSans;
}

a {
  text-decoration: none;
  color: var(--accent-white);
}

.header-primary {
  min-height: 5em;
  display: grid;
  grid-template-columns: 3em auto;
  grid-template-rows: 1fr 2.5em;
}
.header-primary_pipe_wrapper {
  width: 3.4em;
  grid-row: 2;
}
.header-primary_pipe {
  height: 100%;
  background: linear-gradient(to right, rgb(54, 109, 49), rgb(140, 213, 130) 15% 25%, rgb(9, 50, 5));
  border-radius: 0.2em 0.2em 0.2em 0;
  box-shadow: inset 0 -0.1em 0.3em rgb(9, 50, 5);
  position: relative;
}
.header-primary_pipe_connect {
  height: 0.1em;
  position: absolute;
  top: 2%;
  width: 100%;
  background: linear-gradient(90deg, transparent 5%, rgba(255, 255, 255, 0.563) 20% 22%, transparent 50%);
}
.header-primary > h1 {
  font-family: PressStart2P;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 2;
  text-shadow: 1px 1px 1px #000;
  color: rgb(255, 238, 0);
}

.primary-nav {
  margin-top: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-column: 2;
  width: 100%;
  min-height: 3em;
  background: linear-gradient(to top, rgb(54, 109, 49), rgb(140, 213, 130) 25% 40%, rgb(9, 50, 5));
}
.primary-nav > ol {
  display: grid;
  grid-auto-flow: column;
}
.primary-nav > ol > li {
  height: 3.5em;
  display: flex;
}
.primary-nav > ol > li::after {
  content: "";
  width: 0.5em;
  margin: -0.2em 0;
  border-inline: 0.4em ridge rgba(72, 146, 65, 0.2);
  background: linear-gradient(to top, rgb(54, 109, 49), rgb(140, 213, 130) 20% 35%, rgb(5, 28, 3));
}
.primary-nav > ol > li:first-of-type {
  border-left: 0;
}
.primary-nav > ol > li:last-of-type {
  border-right: 0;
}
.primary-nav > ol > li > a {
  margin: auto;
}

.style-wrapper_intro {
  display: grid;
  grid-template-columns: 3em 1fr;
}

.intro_pipe {
  grid-column: 1;
  grid-row: 1/3;
  width: 3em;
  background: linear-gradient(to right, rgb(54, 109, 49), rgb(140, 213, 130) 25% 40%, rgb(9, 50, 5));
  box-shadow: 0em 2em 2em -1em rgb(3, 52, 10) inset;
  border-bottom: 0.2em solid rgba(53, 116, 47, 0.2);
}

.intro {
  grid-column: 2;
}
.intro > p {
  padding-inline: 1em;
  background-color: var(--accent-blue);
  padding-block: 1.2em;
}

.cv {
  display: grid;
  padding-bottom: 0.4em;
  grid-template-rows: 1fr auto;
  --cv-row-height: 4em;
}
.cv :nth-child(3) label {
  border-top: 0;
}
.cv :nth-child(4) p {
  margin-top: calc(var(--cv-row-height) * -1);
}
.cv :nth-child(5) p {
  margin-top: calc(var(--cv-row-height) * -2);
}
.cv legend {
  font-size: 1.8em;
  text-transform: uppercase;
  padding-block: 0.2em;
  text-align: center;
  background-color: var(--accent-green);
  width: 100%;
  grid-row: 1;
}
.cv .cv_pipe {
  display: grid;
  grid-template-columns: 3.8em 2em auto;
}
.cv .cv_pipe_hz_connect-left {
  background: linear-gradient(to top, rgb(54, 109, 49), rgb(140, 213, 130) 25% 40%, rgb(20, 80, 15));
}
.cv .cv_pipe_hz_divider {
  margin: -0.2em 0;
  border-inline: 0.4em ridge rgba(72, 146, 65, 0.2);
  background: linear-gradient(to top, rgb(54, 109, 49), rgb(140, 213, 130) 20% 35%, rgb(13, 60, 8));
}
.cv .cv_pipe_hz {
  padding-block: 0.2em;
  text-align: center;
  width: 100%;
  grid-row: 1;
  grid-column: 3;
  min-height: 2.5em;
  background: linear-gradient(to top, rgb(54, 109, 49), rgb(140, 213, 130) 25% 40%, rgb(20, 80, 15));
}
.cv .cv_pipe > h2 {
  text-align: center;
  grid-row: 1;
  grid-column: 3;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  color: rgb(255, 238, 0);
  font-family: PressStart2P;
  font-size: 1.5em;
}
.cv_elements {
  display: grid;
  grid-template-columns: 1fr 7em;
  grid-template-rows: var(--cv-row-height);
  padding-left: 0.5em;
}
.cv_elements > input,
.cv_elements label {
  grid-row: 1;
  grid-column: 2;
  margin-left: auto;
  background: var(--accent-green);
  text-align: center;
  min-width: 3.5em;
}
.cv_elements > label {
  border-block: 2px solid var(--accent-green-dark);
}
.cv_elements > label > img {
  width: 2em;
  aspect-ratio: 1/2;
  filter: invert(100%);
  cursor: pointer;
}
.cv_elements > input {
  opacity: 0%;
}
.cv_elements > input:checked ~ p {
  display: inline-block;
}
.cv_elements > p {
  display: none;
  margin-top: 0.8em;
}

.scr-only {
  display: none;
}/*# sourceMappingURL=index.css.map */